.block-block-3 .grid-10 p {
	margin-right: 40px;
}

.node .form-item .description {
	margin-top: -1em;
}

.node .omega {
	margin-top: 190px;
}

.node-13-product-commerce-price {
	text-align: right;
	margin-top: -7.4em;
}
