$grey1: rgb(53,53,40);
$grey2: rgb(100,100,90);
$grey3: rgb(184,184,179);
$grey4: rgb(225,225,223);
$grey5: rgb(241,241,239);

$dark_blue: rgb(77,150,196);
$light_blue: rgb(133,183,214);
$white: rgb(255,255,255);
$red: rgb(178,27,27);
$green: rgb(120,193,77);
$pager-color: rgb(139,179,210);
$dark-pager-color: rgb(99,99,90);
